/* Write your code here: */

h1, h2 {
    color: blueviolet;
}

/* .box > .done {
    color: firebrick;
} */

/* OR! */
.box > p {
    color: firebrick;
}

/* .box .list {
    color: blue;
} */

/* OR! */
/* .box ul {
    color: blue;
} */

/* OR! */
.box li {
    color: blue;
}

li.done{
    color: seagreen;
}

ul p.done{
    font-size: 0.5rem;
}